<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%- themeConfig.siteName %></title>
    <meta name="description" content="<%- site.customConfig.metaDescription || themeConfig.siteDescription %>">
    <link rel="shortcut icon" href="<%= themeConfig.domain %>/media/images/eduifuns.png">
    <link rel="stylesheet" href="//fonts.loli.net/css?family=Arimo:400,700,400italic">
    <link rel="stylesheet" href="<%= themeConfig.domain %>/media/css/icomoon.css">
    <link rel="stylesheet" href="<%= themeConfig.domain %>/media/css/main.css?v=<%= site.utils.now %>">
    <style>
      .page-container {
        display: flex; /* Use flexbox for main layout */
      }
      .sidebar-menu {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        overflow-y: auto;
        text-align: left; /* Align text to the left */
        width: 230px; /* Set default width */
        flex-shrink: 0; /* Prevent sidebar from shrinking */
      }
      .sidebar-menu .logo-env {
        display: flex;
        justify-content: center;
      }
      .sidebar-menu.collapsed #sidebar-resize-handle {
        display: none;
      }

      .page-container .main-content {
        flex-grow: 1; /* Allow main content to grow and take remaining space */
        margin-left: 230px; /* Default width, will be adjusted by JS */
      }
      .user-info-navbar {
        background-color: transparent !important;
      }
      .sidebar-menu.collapsed .main-menu .has-sub {
        position: relative;
      }
      .sidebar-menu.collapsed .main-menu .has-sub > ul {
        position: absolute;
        left: 100%;
        top: 0;
        background-color: #2c2e2f !important; /* Dark background */
        color: #fff; /* White text */
        box-shadow: 0 2px 8px rgba(0,0,0,0.15);
        z-index: 1000;
        display: none;
        min-width: 120px;
        max-width: 150px;
        white-space: normal;
        word-wrap: break-word;
      }
      .sidebar-menu.collapsed .main-menu .has-sub > ul a {
        color: #fff !important;
      }
      .sidebar-menu.collapsed .main-menu .has-sub:hover > ul {
        display: block;
      }
      .sidebar-menu.collapsed .main-menu .has-sub:hover::after {
        content: "";
        position: absolute;
        top: 0;
        right: -20px;
        width: 20px;
        height: 100%;
        background-color: transparent;
      }
    </style>
  </head>

<body class="page-body">
    <!-- skin-white -->
    <div class="page-container">
        <div class="sidebar-menu toggle-others fixed">
            <div id="sidebar-resize-handle" style="position: absolute; top: 0; right: -2px; width: 5px; height: 100%; cursor: col-resize; z-index: 10;"></div>
            <div class="sidebar-menu-inner">
                <header class="logo-env">
                    <!-- logo -->
                    <div class="logo">
                        <a href="<%= themeConfig.domain %>" class="logo-expanded">
                            <img src="<%= themeConfig.domain %>/images/avatar.png"  style="height:68px" alt="" />
                        </a>
                        <a href="<%= themeConfig.domain %>" class="logo-collapsed">
                            <img src="/favicon.ico" width="32" alt="" />
                        </a>
                    </div>
                    <div class="mobile-menu-toggle visible-xs">
                        <a href="#" data-toggle="mobile-menu">
                            <i class="icon-bar"></i>
                        </a>
                    </div>
                </header>
                <ul id="main-menu" class="main-menu">
                    <% if (site.customConfig.funJYSpace) { %>
                        <li>
                            <a href="#jyspace" class="smooth">
                                <i class="icon-fire"></i>
                                <span class="title">匠鱼空间</span>
                            </a>
                        </li>
                        <% } %>
                    <!-- li 加 has-sub 开启分组-->
                    <li class="has-sub">
                        <a>
                            <i class="icon-key"></i>
                            <span class="title">系统 System</span>
                        </a>
                        <!-- ul li 格式添加子分组-->
                        <ul>
                            <li>
                                <a href="#often" class="smooth">
                                    <i class="icon-pencil"></i>
                                    <span class="title">常用 Often</span>
                                </a>
                            </li>
                            <li>
                                <a href="#read" class="smooth">
                                    <i class="icon-lightbulb"></i>
                                    <span class="title">阅读 Read</span>
                                </a>
                            </li>
                            <li>
                                <a href="#tools" class="smooth">
                                    <i class="icon-desktop"></i>
                                    <span class="title">工具 Tools</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- li 加 has-sub 开启分组-->
                    <li class="has-sub">
                        <a>
                            <i class="icon-graduation-cap"></i>
                            <span class="title">学习 Learn</span>
                        </a>
                        <!-- ul li 格式添加子分组-->
                        <ul>
                            <li>
                                <a href="#coding" class="smooth">
                                    <i class="icon-pencil"></i>
                                    <span class="title">编程 Coding</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <% if (site.customConfig.funFinance) { %>
                        <li>
                            <a href="#finance" class="smooth">
                                <i class="icon-money"></i>
                                <span class="title">财务 Finance</span>
                            </a>
                        </li>
                        <% } %>
                        <% if (site.customConfig.funRelationship) { %>
                            <li>
                                <a href="#relationship" class="smooth">
                                    <i class="icon-heart"></i>
                                    <span class="title">关系 Relationship</span>
                                </a>
                            </li>
                            <% } %>                        
                    <% if (site.customConfig.funSojourn) { %>
                        <li>
                            <a href="#sojourn" class="smooth">
                                <i class="icon-location"></i>
                                <span class="title">旅居 Sojourn</span>
                            </a>
                        </li>
                        <% } %>                    
                    <% if (site.customConfig.funNav) { %>
                    <li>
                        <a href="#nav" class="smooth">
                            <i class="icon-globe"></i>
                            <span class="title">导航 Nav</span>
                        </a>
                    </li>
                    <% } %>
                    <li class="submit-tag">
                        <a href="<%= themeConfig.domain %>/about">
                            <i class="icon-heart"></i>
                            <span class="title">关于 About</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-content">
            <nav class="navbar user-info-navbar" role="navigation">
                <!-- User Info, Notifications and Menu Bar -->
                <!-- Left links for user info navbar -->
                <ul class="user-info-menu left-links list-inline list-unstyled">
                    <li class="hidden-sm hidden-xs">
                        <a href="#" data-toggle="sidebar">
                            <i class="icon-bar"></i>
                        </a>
                    </li>
                </ul>
            </nav>

            <!-- 今日诗词 -->
            <div id="poem_content">
                <h3 id="poem_sentence"></h3><span id="poem_info"></span>
            </div>
            <!-- 今日诗词 -->
            <br />

            <!-- 匠鱼空间 JYSpace -->
            <% if (site.customConfig.funJYSpace) { %>
            <h4 class="text-gray"><i class="icon-fire" style="margin-right: 7px;" id="jyspace"></i>匠鱼空间</h4>
            <div class="row">
                <% site.customConfig.funJYSpace.forEach(function(fun) { %>
                <div class="col-sm-3">
                    <div class="xe-widget xe-conversations box2 label-info" onclick="window.open('<%= fun.siteLink %>', '_blank')" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="<%= fun.siteLink %>">
                        <div class="xe-comment-entry">
                            <a class="xe-user-img">
                                <img <% if (fun.siteLogo) { %> data-src="<%= fun.siteLogo %>" <% } else { %> avatar="<%= fun.siteName %>" <% }; %> class="lozad img-circle" width="40">
                            </a>
                            <div class="xe-comment">
                                <a href="#" class="xe-user-name overflowClip_1">
                                    <strong><%= fun.siteName %></strong>
                                </a>
                                <p class="overflowClip_2"><%= fun.description %></p>
                            </div>
                        </div>
                    </div>
                </div>
                <% }); %>
            </div>
            <br />
            <% } %>
            <!-- 匠鱼空间 JYSpace -->

            <!-- 常用 Often -->
            <% if (site.customConfig.funOften) { %>
                <h4 class="text-gray"><i class="icon-pencil" style="margin-right: 7px;" id="often"></i>常用 Often</h4>
                <div class="row">
                    <% site.customConfig.funOften.forEach(function(fun) { %>
                    <div class="col-sm-3">
                        <div class="xe-widget xe-conversations box2 label-info" onclick="window.open('<%= fun.siteLink %>', '_blank')" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="<%= fun.siteLink %>">
                            <div class="xe-comment-entry">
                                <a class="xe-user-img">
                                    <img <% if (fun.siteLogo) { %> data-src="<%= fun.siteLogo %>" <% } else { %> avatar="<%= fun.siteName %>" <% }; %> class="lozad img-circle" width="40">
                                </a>
                                <div class="xe-comment">
                                    <a href="#" class="xe-user-name overflowClip_1">
                                        <strong><%= fun.siteName %></strong>
                                    </a>
                                    <p class="overflowClip_2"><%= fun.description %></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% }); %>
                </div>
                <br />
                <% } %>
                <!-- 常用 Often -->

            <!-- 阅读 Read -->
            <% if (site.customConfig.funRead) { %>
            <h4 class="text-gray"><i class="icon-lightbulb" style="margin-right: 7px;" id="read"></i>阅读 Read</h4>
            <div class="row">
                <% site.customConfig.funRead.forEach(function(fun) { %>
                <div class="col-sm-3">
                    <div class="xe-widget xe-conversations box2 label-info" onclick="window.open('<%= fun.siteLink %>', '_blank')" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="<%= fun.siteLink %>">
                        <div class="xe-comment-entry">
                            <a class="xe-user-img">
                                <img <% if (fun.siteLogo) { %> data-src="<%= fun.siteLogo %>" <% } else { %> avatar="<%= fun.siteName %>" <% }; %> class="lozad img-circle" width="40">
                            </a>
                            <div class="xe-comment">
                                <a href="#" class="xe-user-name overflowClip_1">
                                    <strong><%= fun.siteName %></strong>
                                </a>
                                <p class="overflowClip_2"><%= fun.description %></p>
                            </div>
                        </div>
                    </div>
                </div>
                <% }); %>
            </div>
            <br />
            <% } %>
            <!-- 阅读 Read -->

            <!-- 工具 Tools -->
            <% if (site.customConfig.funTools) { %>
                <h4 class="text-gray"><i class="icon-desktop" style="margin-right: 7px;" id="tools"></i>工具 Tools</h4>
                <div class="row">
                    <% site.customConfig.funTools.forEach(function(fun) { %>
                    <div class="col-sm-3">
                        <div class="xe-widget xe-conversations box2 label-info" onclick="window.open('<%= fun.siteLink %>', '_blank')" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="<%= fun.siteLink %>">
                            <div class="xe-comment-entry">
                                <a class="xe-user-img">
                                    <img <% if (fun.siteLogo) { %> data-src="<%= fun.siteLogo %>" <% } else { %> avatar="<%= fun.siteName %>" <% }; %> class="lozad img-circle" width="40">
                                </a>
                            <div class="xe-comment">
                                <a href="#" class="xe-user-name overflowClip_1">
                                    <strong><%= fun.siteName %></strong>
                                </a>
                                <p class="overflowClip_2"><%= fun.description %></p>
                            </div>
                        </div>
                    </div>
                </div>
                <% }); %>
            </div>
            <br />
            <% } %>
            <!-- 工具 Tools -->   

           <!-- 编程 Coding -->
           <% if (site.customConfig.funCoding) { %>
            <h4 class="text-gray"><i class="icon-graduation-cap" style="margin-right: 7px;" id="coding"></i>编程 Coding</h4>
            <div class="row">
                <% site.customConfig.funCoding.forEach(function(fun) { %>
                <div class="col-sm-3">
                    <div class="xe-widget xe-conversations box2 label-info" onclick="window.open('<%= fun.siteLink %>', '_blank')" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="<%= fun.siteLink %>">
                        <div class="xe-comment-entry">
                            <a class="xe-user-img">
                                <img <% if (fun.siteLogo) { %> data-src="<%= fun.siteLogo %>" <% } else { %> avatar="<%= fun.siteName %>" <% }; %> class="lozad img-circle" width="40">
                            </a>
                            <div class="xe-comment">
                                <a href="#" class="xe-user-name overflowClip_1">
                                    <strong><%= fun.siteName %></strong>
                                </a>
                                <p class="overflowClip_2"><%= fun.description %></p>
                            </div>
                        </div>
                    </div>
                </div>
                <% }); %>
            </div>
            <br />
            <% } %>
            <!-- 编程 Coding -->



                <!-- 财务 Finance -->
                <% if (site.customConfig.funFinance) { %>
                    <h4 class="text-gray"><i class="icon-money" style="margin-right: 7px;" id="finance"></i>财务 Finance</h4>
                    <div class="row">
                        <% site.customConfig.funFinance.forEach(function(fun) { %>
                        <div class="col-sm-3">
                            <div class="xe-widget xe-conversations box2 label-info" onclick="window.open('<%= fun.siteLink %>', '_blank')" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="<%= fun.siteLink %>">
                                <div class="xe-comment-entry">
                                    <a class="xe-user-img">
                                        <img <% if (fun.siteLogo) { %> data-src="<%= fun.siteLogo %>" <% } else { %> avatar="<%= fun.siteName %>" <% }; %> class="lozad img-circle" width="40">
                                    </a>
                                    <div class="xe-comment">
                                        <a href="#" class="xe-user-name overflowClip_1">
                                            <strong><%= fun.siteName %></strong>
                                        </a>
                                        <p class="overflowClip_2"><%= fun.description %></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }); %>
                    </div>
                    <br />
                    <% } %>
                    <!-- 财务 Finance -->
    
             <!-- 关系 Relationship -->
             <% if (site.customConfig.funRelationship) { %>
                <h4 class="text-gray"><i class="icon-heart" style="margin-right: 7px;" id="relationship"></i>关系 Relationship</h4>
                <div class="row">
                    <% site.customConfig.funRelationship.forEach(function(fun) { %>
                    <div class="col-sm-3">
                        <div class="xe-widget xe-conversations box2 label-info" onclick="window.open('<%= fun.siteLink %>', '_blank')" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="<%= fun.siteLink %>">
                            <div class="xe-comment-entry">
                                <a class="xe-user-img">
                                    <img <% if (fun.siteLogo) { %> data-src="<%= fun.siteLogo %>" <% } else { %> avatar="<%= fun.siteName %>" <% }; %> class="lozad img-circle" width="40">
                                </a>
                                <div class="xe-comment">
                                    <a href="#" class="xe-user-name overflowClip_1">
                                        <strong><%= fun.siteName %></strong>
                                    </a>
                                    <p class="overflowClip_2"><%= fun.description %></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% }); %>
                </div>
                <br />
                <% } %>
                <!-- 关系 Relationship -->   

                <!-- 旅居 Sojourn -->
                <% if (site.customConfig.funSojourn) { %>
                    <h4 class="text-gray"><i class="icon-location" style="margin-right: 7px;" id="sojourn"></i>旅居 Sojourn</h4>
                    <div class="row">
                        <% site.customConfig.funSojourn.forEach(function(fun) { %>
                        <div class="col-sm-3">
                            <div class="xe-widget xe-conversations box2 label-info" onclick="window.open('<%= fun.siteLink %>', '_blank')" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="<%= fun.siteLink %>">
                                <div class="xe-comment-entry">
                                    <a class="xe-user-img">
                                        <img <% if (fun.siteLogo) { %> data-src="<%= fun.siteLogo %>" <% } else { %> avatar="<%= fun.siteName %>" <% }; %> class="lozad img-circle" width="40">
                                    </a>
                                    <div class="xe-comment">
                                        <a href="#" class="xe-user-name overflowClip_1">
                                            <strong><%= fun.siteName %></strong>
                                        </a>
                                        <p class="overflowClip_2"><%= fun.description %></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }); %>
                    </div>
                    <br />
                    <% } %>
                    <!-- 旅居 Sojourn -->
    
            <!-- 导航 Nav -->
            <% if (site.customConfig.funNav) { %>
            <h4 class="text-gray"><i class="icon-globe" style="margin-right: 7px;" id="nav"></i>导航 Nav</h4>
            <div class="row">
                <% site.customConfig.funNav.forEach(function(fun) { %>
                <div class="col-sm-3">
                    <div class="xe-widget xe-conversations box2 label-info" onclick="window.open('<%= fun.siteLink %>', '_blank')" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="<%= fun.siteLink %>">
                        <div class="xe-comment-entry">
                            <a class="xe-user-img">
                                <img <% if (fun.siteLogo) { %> data-src="<%= fun.siteLogo %>" <% } else { %> avatar="<%= fun.siteName %>" <% }; %> class="lozad img-circle" width="40">
                            </a>
                            <div class="xe-comment">
                                <a href="#" class="xe-user-name overflowClip_1">
                                    <strong><%= fun.siteName %></strong>
                                </a>
                                <p class="overflowClip_2"><%= fun.description %></p>
                            </div>
                        </div>
                    </div>
                </div>
                <% }); %>
            </div>
            <br />
            <% } %>
            <!-- 导航 Nav -->

            <!-- Main Footer -->
            <!-- Choose between footer styles: "footer-type-1" or "footer-type-2" -->
            <!-- Add class "sticky" to  always stick the footer to the end of page (if page contents is small) -->
            <!-- Or class "fixed" to  always fix the footer to the end of page -->
            <footer class="main-footer sticky footer-type-1">
                <div class="footer-inner">
                    <!-- Add your copyright text here -->
                    <div class="footer-text">
                        <%- themeConfig.footerInfo %> <span id="busuanzi_container_site_pv" style='display:none'>总访问量<span id="busuanzi_value_site_pv"></span>次</span>
                    </div>
                    <div class="go-up">
                        <a href="#" rel="go-top">
                            <i class="icon-up"></i>
                        </a>
                    </div>
                </div>
            </footer>
        </div>
    </div>


    <script src="https://sdk.jinrishici.com/v2/browser/jinrishici.js" charset="utf-8"></script>
    <script type="text/javascript">
    jinrishici.load(function(result) {
        var sentence = document.querySelector("#poem_sentence")
        var info = document.querySelector("#poem_info")
        sentence.innerHTML = result.data.content
        info.innerHTML = '【' + result.data.origin.dynasty + '】' + result.data.origin.author + '《' + result.data.origin.title + '》'
    });
    </script>
    <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>

    <script src="<%= themeConfig.domain %>/media/js/jquery.min.js"></script>
    <!-- 锚点平滑移动 -->
    <script type="text/javascript">
    $(document).ready(function() {
         //img lazy loaded
         const observer = lozad();
         observer.observe();

        $(document).on('click', '.has-sub', function(){
            var _this = $(this)
            if(!$(this).hasClass('expanded')) {
               setTimeout(function(){
                    _this.find('ul').attr("style","")
               }, 300);
              
            } else {
                $('.has-sub ul').each(function(id,ele){
                    var _that = $(this)
                    if(_this.find('ul')[0] != ele) {
                        setTimeout(function(){
                            _that.attr("style","")
                        }, 300);
                    }
                })
            }
        })
        $('.user-info-menu .hidden-sm').click(function(){
            setTimeout(function() {
                if($('.sidebar-menu').hasClass('collapsed')) {
                    $('.main-content').css('margin-left', '80px');
                    $('.has-sub.expanded > ul').attr("style","")
                } else {
                    $('.main-content').css('margin-left', '230px');
                    $('.has-sub.expanded > ul').show()
                }
            }, 10);
        })
        $("#main-menu li ul li").click(function() {
            $(this).siblings('li').removeClass('active'); // 删除其他兄弟元素的样式
            $(this).addClass('active'); // 添加当前元素的样式
        });
        $("a.smooth").click(function(ev) {
            ev.preventDefault();
            var $clickedLink = $(this);
            var $parentSubMenu = $clickedLink.closest('.has-sub');
            $('.has-sub').not($parentSubMenu).removeClass('hover');

            // For mobile view, hide the menu after clicking
            if (public_vars.$mainMenu.hasClass('mobile-is-visible')) {
                public_vars.$mainMenu.add(public_vars.$sidebarProfile).toggleClass('mobile-is-visible');
                ps_destroy();
            }

            // Animate scroll using TweenLite, which is native to the theme
            var target_pos = $($(this).attr("href")).offset().top - 30;
            var current_pos = { pos: $(window).scrollTop() };

            TweenLite.to(current_pos, 0.5, {
                pos: target_pos,
                ease: Power4.easeOut,
                onUpdate: function() {
                    $(window).scrollTop(current_pos.pos);
                }
            });
        });
    });
    </script>
    <!-- Bottom Scripts -->
    <script src="<%= themeConfig.domain %>/media/js/bootstrap.min.js"></script>
    <script src="<%= themeConfig.domain %>/media/js/TweenMax.min.js"></script>
    <script src="<%= themeConfig.domain %>/media/js/resizeable.js"></script>
    <script src="<%= themeConfig.domain %>/media/js/xenon-toggles.js"></script>
    <script src="<%= themeConfig.domain %>/media/js/xenon-custom.js"></script>
    <script src="<%= themeConfig.domain %>/media/js/lozad.js"></script>
    <script src="<%= themeConfig.domain %>/media/js/LetterAvatar.js"></script>
<script>
      // Sidebar Resizing Logic
      const sidebar = document.querySelector('.sidebar-menu');
      const mainContent = document.querySelector('.main-content');
      const resizeHandle = document.getElementById('sidebar-resize-handle');

      resizeHandle.addEventListener('mousedown', function(e) {
          e.preventDefault();
          document.addEventListener('mousemove', handleMouseMove);
          document.addEventListener('mouseup', stopResize);
      });

      function handleMouseMove(e) {
          let newWidth = e.clientX;
          if (newWidth < 230) newWidth = 230; // Minimum width
          if (newWidth > 300) newWidth = 300; // Maximum width
          sidebar.style.width = newWidth + 'px';
          mainContent.style.marginLeft = newWidth + 'px';
      }

      function stopResize() {
          document.removeEventListener('mousemove', handleMouseMove);
          document.removeEventListener('mouseup', stopResize);
      }
    </script>
</body>



</html>